# Environnement Python
.venv/
.env/

# Cache Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Outils
.pytest_cache/
.ruff_cache/

# Fichiers système et éditeurs
.DS_Store
.vscode/

# Bases locales
*.db

# Logs et fichiers temporaires
*.log
credit_app/data/df_preprocessed.parquet
data/df_preprocessed.parquet

feature_engineering.ipynb
modeles.ipynb
hf-space/

mlflow_archive/
.env
/reports/
